@font-face {
  font-family: "Basementgrotesque v1";
  src: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d512fb71355ca5053a9b3_BasementGrotesque-Black_v1.202.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter(reg)";
  src: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d5355680635daffa4474d_Inter%20(regular).woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter(bold)";
  src: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d5355d152d69557a26195_Inter%20(bold).woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter(reg)", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

hr {
  background-color: #e0e0e0;
  opacity: 0.1;
  margin-bottom: 32px;
  width: 100%;
  height: 0.5px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 56px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 40px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grain {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  /* display: none; */
  width: 100%;
  height: 100%;
  background-image: url("https://assets.website-files.com/62384332bac7f3d4f139ee1e/624d5860b71355f93453ff75_grain.gif");
  background-position: 0px 0px;
  background-size: auto;
  opacity: 0.04;
}

nav {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  transform: translateX(-50%);
  z-index: 2;
  left: 50%;
  top: 20px;

  width: 95vw;
}

nav h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  font-size: 16px;
  line-height: 1.2;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

header {
  display: grid;
  place-items: center;

  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

header h1 {
  text-align: center;
  font-size: 8vw;
}

section {
  padding-top: 180px;
  padding-bottom: 180px;
}

section.portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 140vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #e0e0e0;
}

section.portfolio div.center {
  display: -ms-grid;
  display: grid;
  margin-right: 2vw;
  margin-left: 2vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.portfolio div.left {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.portfolio div.right {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.portfolio img.showcase-main-image {
  width: 43.75vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section.portfolio img.showcase-image {
  width: 38vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section.values {
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.values h2 {
  margin: 0 0 100px 0;
  width: 90%;
}

section.values div.values-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.values div.values-container div.element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

section.values div.values-container div.element h3 {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}

section.values div.values-container div.element div.image-border {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 50%;
  margin-bottom: 24px;
}

section.work {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.work div.titles {
  margin-bottom: 80px;
  text-align: center;
}

section.work div.titles h3 {
  font-size: 20px;
  line-height: 1.2;
  color: #757575;
  margin-bottom: 24px;
}

section.work div.titles h2 {
  font-size: 80px;
}

section.work div.left {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

section.work div.right {
  margin-top: 96px;
}

section.work div.element {
  position: relative;
  margin: 0 0 50px 0;
}

section.work div.element div.project-hover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  color: #fff;
}

section.work div.element div.project-hover h2 {
  font-size: 20px;
  line-height: 1.2;
}

section.work div.element div.project-hover h6 {
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
}

section.track {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}

section.track > div {
  display: flex;
  align-items: center;
}

section.track img {
  position: relative;
  top: -7px;
  margin-right: 24px;
  margin-left: 24px;
}

section.track div.track-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;

  display: flex;
  padding-top: 40px;
  padding-bottom: 26px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

section.track div.track-wrap div.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  white-space: nowrap;
}

section.track div.track-wrap div.element.logo {
  display: grid;
  place-items: center;
  margin: 0 25px;
}

section.services {
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.services h2 {
  margin-bottom: 48px;
}

section.services div.row {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

section.services div.services-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  font-family: "Basementgrotesque v1", sans-serif;
  text-transform: uppercase;

  width: 400px;
}

section.services div.services-item span {
  width: 100%;
  margin-bottom: 24px;
}

section.services div.services-item > span:last-child {
  margin: 0;
}

section.qa {
  /* display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto; */

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

section.qa h2 {
  font-size: 40px;
  width: 20%;
}

section.qa > div {
  width: 730px;
}

section.qa div.element {
  width: 100%;
  height: auto;
  margin: 0 0 25px 0;
  padding-right: 32px;
  padding-left: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

section.qa div.element:last-child {
  margin: 0;
}

section.qa div.element div.question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;

  width: 664px;
}

section.qa div.element div.question h3 {
  font-size: 16px;
  line-height: 1.2;
}

section.qa div.element div.answer {
  overflow: hidden;
  width: 100%;
}

section.qa div.element div.answer p {
  /* margin-bottom: 32px; */
  height: 0;
  margin: 0;
}

section.call-to-action {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
}

section.call-to-action h2 {
  font-size: 80px;
  margin: 0 0 50px 0;
  width: 50%;
}

section.call-to-action a:hover {
  transition: 0.3s;
  background: #ffe000;
}

section.call-to-action a {
  transition: 0.3s;
  padding: 25px 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: #fc0;
  -webkit-transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Basementgrotesque v1", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

section.call-to-action div.background {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: -100%;
  z-index: 2;
  width: 100%;
  height: 120%;
  border-radius: 50%;
  background-color: #e6ac00;
  opacity: 0.5;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

footer {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

footer h2 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 24px;
}

footer div.column div.list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer div.column div.list a {
  transition: all 0.3s;

  display: inline-block;
  margin-bottom: 12px;
  -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

footer div.column div.list a:hover {
  transition: all 0.3s;
  color: #757575;
}

footer > div.row:first-child {
  padding-bottom: 64px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
}

footer div.row > div:first-child {
  width: 100%;
  max-width: 510px;
}

footer div.row > div:first-child img {
  margin-bottom: 24px;
}

footer div.row > div:first-child p {
  margin-bottom: 24px;
}

footer div.row > div:first-child div.social-wrap {
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer div.row > div:first-child div.social-wrap a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer div.copyrights {
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
}

footer div.copyrights a:hover {
  -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  color: #757575;
}

footer div.copyrights p {
  -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 14px;
}
